img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

body {
  max-width: 650px;
  font-size: 16px;
}

#home,
#chat,
#profile,
#setting {
  position: relative;
}

.header {
  position: fixed;
  display: block;
  width: 100%;
  height: 50px;
  background: #0098A9;
  z-index: 1000;
}
.header__inner {
  width: 90%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.footer {
  position: fixed;
  bottom: 0;
  display: block;
  width: 100%;
  height: 50px;
  background: #0098A9;
}
.footer__inner {
  width: 90%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  text-decoration: none;
  color: #000000;
  font-size: 18px;
  border-radius: 10px;
  width: 200px;
  height: 40px;
  margin: 0 auto;
  font-weight: bold;
  transition: 0.3s;
  background-color: #0098a9;
}
.btn:hover {
  transform: scale(1.1);
}

.form__label {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
}
.form__input {
  background: #D9D9D9;
  border-radius: 5px;
  padding: 5px;
  width: 100%;
  margin-bottom: 30px;
}
.form__input::-moz-placeholder {
  opacity: 0.6;
}
.form__input::placeholder {
  opacity: 0.6;
}
.form__gender {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
}
.form__radio {
  display: block;
  width: 15px;
  height: 15px;
  margin-right: 10px;
  border: 2px solid #D9D9D9;
  transition: 0.3s ease-in;
}
.form__radio:checked {
  background: #0098A9;
}
.form__textarea {
  background: #d9d9d9;
  padding: 10px;
  margin-bottom: 30px;
}
.form__textarea::-moz-placeholder {
  opacity: 0.6;
}
.form__textarea::placeholder {
  opacity: 0.6;
}
.form__item {
  display: inline-block;
}
.form__price {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}
.form__priceContainer {
  margin-right: 20px;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  background: #0098A9;
  min-height: 100vh;
}
.slider__inner {
  width: 90%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 120px 0;
}
.slider__label {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 35px;
}
.slider__input {
  background: #fff;
  border-radius: 5px;
  margin-right: 10px;
}
.slider__title {
  font-weight: bold;
  margin-bottom: 25px;
}
.slider__list {
  margin-bottom: 35px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
.slider__item {
  width: 30%;
  background: #fff;
  border-radius: 5px;
  text-align: center;
  transition: 0.3s ease-in;
}
.slider__item:hover {
  transform: scale(1.1);
}

.tools {
  position: fixed;
  bottom: 10%;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.tools__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 20%;
}
.tools__label {
  width: 70%;
  height: 30px;
  background: #d9d9d9;
  border-radius: 15px;
}
.tools__textArea {
  padding-left: 10px;
}
.tools__textArea::-moz-placeholder {
  opacity: 0.8;
}
.tools__textArea::placeholder {
  opacity: 0.8;
}

.home {
  padding-top: 60px;
  overflow-x: hidden;
}

.switching__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.switching__brrow {
  background: #0098A9;
}
.switching__lend {
  background: #E0DFDF;
}

.tab {
  font-size: 20px;
  width: 50%;
  text-align: center;
  border-radius: 15px 15px 0 0;
}

.brrow {
  width: 100%;
}
.brrow__inner {
  width: 90%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.post {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.post:not(:last-child) {
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}
.post__img {
  width: 30%;
  height: auto;
}
.post__info {
  width: 60%;
}
.post__user {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
}
.post__userIcon {
  border-radius: 50%;
  margin-right: 10px;
}
.post__userName {
  font-size: 14px;
  font-weight: bold;
}
.post__title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 25px;
}

.lend {
  width: 100%;
  height: 100vh;
}
.lend__inner {
  width: 90%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 40%;
}
.lend__title {
  text-align: center;
  font-weight: bold;
  margin-bottom: 10px;
}
.lend__question {
  color: #0000ee;
  text-align: center;
  margin-bottom: 25px;
}

.pan {
  padding-top: 75px;
}
.pan__inner {
  width: 90%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.pan__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
}
.pan__container::after {
  content: "";
  display: block;
  position: relative;
  background: #D9D9D9;
  width: 100%;
  height: 3px;
  bottom: -5px;
  z-index: -1;
}
.pan__pointer {
  font-size: 14px;
  position: relative;
}
.pan__pointer:not(:last-child) {
  margin-right: 5px;
}
.pan__pointer::after {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 15px;
  height: 15px;
  background: #FA0A0A;
  border-radius: 50%;
}

.myInfo__inner {
  width: 90%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.myInfo__title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}
.myInfo__btn {
  margin-top: 45px;
  margin-right: 0;
}

.lendInfo__inner {
  width: 90%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.lendInfo__title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}
.lendInfo__btn {
  margin-top: 45px;
  margin-right: 0;
  margin-bottom: 100px;
}

.confirm__inner {
  width: 90%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.confirm__title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}
.confirm__container:not(:last-child) {
  margin-bottom: 30px;
}
.confirm__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid #D9D9D9;
}
.confirm__content:not(:last-child) {
  margin-bottom: 15px;
  padding-bottom: 5px;
}
.confirm__subTitle {
  margin-right: 15px;
}
.confirm__btn {
  margin: 50px 0 100px auto;
}

.post__inner {
  width: 90%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  min-height: 100vh;
  position: relative;
  text-align: center;
  top: 40%;
  transform: translateY(50%);
}
.post__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}
.post__save {
  width: 100px;
  background: #fff;
  border: 1px solid #000;
}
.post__push {
  width: 100px;
}

.comp__inner {
  width: 90%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  min-height: 100vh;
  position: relative;
  text-align: center;
  top: 40%;
  transform: translateY(50%);
}
.comp__title {
  margin-bottom: 30px;
}

.chat {
  padding-top: 100px;
}
.chat__inner {
  width: 90%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.chat__title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 35px;
}
.chat__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid #D9D9D9;
  padding-bottom: 20px;
}
.chat__content:not(:last-child) {
  margin-bottom: 20px;
}
.chat__icon {
  border-radius: 50%;
  margin-right: 20px;
}
.chat__text {
  opacity: 0.8;
  width: 75%;
}

.communication {
  padding-top: 100px;
}
.communication__inner {
  width: 90%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.communication__post {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
}
.communication__post:not(:last-child) {
  margin-bottom: 45px;
}
.communication__icon {
  display: block;
  border-radius: 50%;
}
.communication__content {
  width: 55%;
  background: #D9D9D9;
  padding: 10px;
  border-radius: 10px;
}
.communication__reservation {
  background: #0098A9;
  margin-left: 0;
  margin-top: 25px;
}
.communication__confirm {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin-top: 30px;
  opacity: 0.8;
}
.communication__confirmText {
  margin-right: 10px;
  margin-left: 10px;
}
.communication__confirmTriangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  border-top: 15px solid #555555;
  border-bottom: 0;
}

#myself {
  justify-content: end;
  flex-direction: row-reverse;
}
#myself .communication__content {
  background: #0098A9;
}

.checker {
  padding-top: 100px;
}
.checker__inner {
  width: 70%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.checker__text {
  text-align: center;
  margin-bottom: 25px;
}
.checker__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  gap: 10px;
}
.checker__list:not(:last-child) {
  margin-bottom: 10px;
}
.checker__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.checker__img {
  display: block;
  width: 45%;
}
.checker__btn {
  margin-top: 60px;
}

.profile {
  padding-top: 100px;
}
.profile__inner {
  width: 90%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.profile__info {
  margin-bottom: 25px;
}
.profile__icon {
  display: block;
  border-radius: 50%;
  margin: 0 auto 15px;
}
.profile__nameContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.profile__name {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
.profile__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.profile__item:not(:last-child) {
  margin-right: 10px;
}
.profile__overview {
  text-align: center;
  margin-bottom: 40px;
}
.profile__attention {
  display: block;
  text-align: center;
  color: #0000ee;
  margin-bottom: 45px;
}
.profile__edit {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.profile__editBtn {
  width: 45%;
  background: #92D0D7;
  border-radius: 5px;
  transition: 0.3s ease-in;
}
.profile__editBtn:hover {
  transform: scale(1.1);
}
.profile__btn {
  display: block;
  text-align: center;
  padding: 15px;
  font-weight: bold;
}

.setting {
  padding-top: 120px;
}
.setting__inner {
  width: 90%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.setting__title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}
.setting__list:not(:last-child) {
  margin-bottom: 15px;
}
.setting__item {
  padding-bottom: 5px;
  padding-left: 5px;
  border-bottom: 1px solid #D9D9D9;
}
.setting__item:not(:last-child) {
  margin-bottom: 5px;
}
.setting__attention {
  color: #FF0000;
}

.settlement {
  padding-top: 100px;
}
.settlement__inner {
  width: 90%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.settlement__title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 35px;
}
.settlement__card {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}
.settlement__text {
  width: 100%;
}

.completion {
  padding-top: 100px;
  text-align: center;
}
.completion__inner {
  width: 90%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.completion__title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 35px;
}
.completion__btn {
  margin-top: 100px;
}

.myLend {
  padding-top: 100px;
}
.myLend__title {
  font-size: 20px;
  margin-bottom: 30px;
  font-weight: bold;
}
.myLend__inner {
  width: 90%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.loan {
  padding: 50px 0;
  overflow-x: hidden;
}
.loan__fvImg {
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 30px;
}
.loan__inner {
  width: 90%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.loan__info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}
.loan__item {
  display: block;
}
.loan__itemName {
  display: inline;
}
.loan__list {
  margin-bottom: 20px;
}
.loan__features {
  margin-bottom: 15px;
}
.loan__content:not(:last-child) {
  margin-bottom: 20px;
}
.loan__title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}
.loan__map {
  margin-bottom: 20px;
}

.map {
  display: block;
  aspect-ratio: 4/3;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: auto;
}
/*# sourceMappingURL=style.css.map */